* {
    font-family: "Arial";
    font-size: 30px;
}

.flex-container.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-container.list {
    flex-basis: 420px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #4d4c4c;
    border-radius: 15px;
}
.header {
    font-size: 30px;
    text-align: center;
    background-color: #297edd;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
}

.flex-container.playlist {
    width: 400px;
    height: 25%;
    display: flex;
    flex-direction: row;
    background-color: #1e1e1e;
    border-radius: 15px;
    margin: 1%;
    margin-left: 2.2%;
    margin-right: 0;
    align-content: center;
}

.img.container {
    margin: 1%;
    width: 128px;
    height: 128px;
    flex-grow: 0;
    padding: 0;
    align-self: center;
}

.playlist.img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: fill;
}
.playlist.text {
    width: 60%;
    height: auto;
    margin: 0;
    align-self: center;
}